@import '../../variables.scss';

.camStyle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.AdminStyle {
  height: 250px;
  width: 250px;
  display: flex;
  justify-content: center;
}

.UserStyle {
  height: 150px;
  width: 150px;
  display: flex;
  justify-content: center;
}
