/* App Colors */
$primary-color: #3366ff;
$secondary-color: #449bff;
$bg-white: #fff;
$off-white: #f7f6f3;
$success: #70d62c;
$warning: #ffe138;
$error: #ff6d1e;

/* Card Variables */
$card-width: 16rem;
$card-height: 21rem;

/* App Spacing */
$spacing-1: 0.0625rem;
$spacing-4: 0.25rem;
$spacing-8: 0.5rem;
$spacing-16: 1rem;
$spacing-24: 1.5rem;
$spacing-32: 2rem;
$spacing-40: 2.5rem;
$spacing-48: 3rem;
$spacing-56: 3.5rem;
$spacing-64: 4rem;
$spacing-72: 4.5rem;
$spacing-80: 5rem;
$spacing-88: 5.5rem;
$spacing-96: 6rem;
$spacing-104: 6.5rem;
$spacing-112: 7rem;
$spacing-120: 7.5rem;
$spacing-128: 8rem;

/* App Widths */
$width-10: 10%;
$width-20: 20%;
$width-30: 30%;
$width-40: 40%;
$width-50: 50%;
$width-60: 60%;
$width-70: 70%;
$width-80: 80%;
$width-85: 85%;
$width-90: 90%;
$width-95: 95%;
$width-100: 100%;

/* border-radius */
$border-radius: 0.0625rem;
$border-radius-input: 5px;
$border-radius-01: 0.125rem;
$border-radius-02: 0.25rem;
$border-radius-03: 0.5rem;
$border-radius-04: 1rem;
$border-radius-05: 100%;

/* border-width */
$border-width: 0.0625rem;
$border-width-01: 0.0625rem;
$border-width-02: 0.125rem;
$border-width-03: 0.25rem;
$border-width-04: 0.375rem;

/* breakpoints; small, medium, large, x-large, max */
$break-point-01: 320px;
$break-point-02: 627px;
$break-point-03: 1056px;
$break-point-04: 1312px;
$break-point-05: 1584px;

/* button */
$button-border-radius: 5px;
$button-border-radius-15: 1rem;
$button-border-radius-18: 1.125rem;
$button-border-radius-26: 1.625rem;
$button-s: 1.5rem;
$button-m: 2rem;
$button-l: 3rem;

/* grid column max width; small, medium, large, x-large, max */
$col-container-width-01: 20rem;
$col-container-width-02: 42rem;
$col-container-width-03: 66rem;
$col-container-width-04: 82rem;
$col-container-width-05: 99rem;

/* grid column margin; small, medium & large & x-large, max */
$col-margin-01: 0;
$col-margin-02: 1rem;
$col-margin-03: 1.5rem;

/* grid column padding; same for all sizes */
$col-padding-01: 1rem;

/* grid column width; small, medium, large, x-large & max are the same */
$col-width-01: 25%;
$col-width-02: 12.5%;
$col-width-03: 6.2%;
$col-width-04: 6.25%;

/* font sizes */
$font-size-00: 0.5rem;
$font-size-01: 1rem;
$font-size-02: 1.5rem;
$font-size-03: 2rem;

/* font weights */
$font-weight-01: 300;
$font-weight-02: 400;
$font-weight-03: 700;
$font-weight-04: 900;

/* shadow */
$shadow-01: 0 0.0625rem 4px 0 rgba(0, 0, 0, 0.1);
$shadow-02: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
$shadow-03: 0 8px 16px 0 rgba(0, 0, 0, 0.1);
$shadow-04: 0 12px 24px 0 rgba(0, 0, 0, 0.1);
$shadow-05: -6px -6px 8px 0 rgba(0, 0, 0, 0.1);

$color-primary-100: #d6e4ff;
$color-primary-200: #adc8ff;
$color-primary-300: #84a9ff;
$color-primary-400: #6690ff;
$color-primary-500: #3366ff;
$color-primary-600: #254edb;
$color-primary-700: #1939b7;
$color-primary-800: #102693;
$color-primary-900: #091a7a;
$color-primary-transparent-100: rgba(51, 102, 255, 0.08);
$color-primary-transparent-200: rgba(51, 102, 255, 0.16);
$color-primary-transparent-300: rgba(51, 102, 255, 0.24);
$color-primary-transparent-400: rgba(51, 102, 255, 0.32);
$color-primary-transparent-500: rgba(51, 102, 255, 0.4);
$color-primary-transparent-600: rgba(51, 102, 255, 0.48);
$color-success-100: #eefcd4;
$color-success-200: #d9faab;
$color-success-300: #baf27f;
$color-success-400: #9ce65d;
$color-success-500: #70d62c;
$color-success-600: #53b820;
$color-success-700: #3b9a16;
$color-success-800: #267c0e;
$color-success-900: #176608;
$color-success-transparent-100: rgba(112, 214, 44, 0.08);
$color-success-transparent-200: rgba(112, 214, 44, 0.16);
$color-success-transparent-300: rgba(112, 214, 44, 0.24);
$color-success-transparent-400: rgba(112, 214, 44, 0.32);
$color-success-transparent-500: rgba(112, 214, 44, 0.4);
$color-success-transparent-600: rgba(112, 214, 44, 0.48);
$color-info-100: #d9f2ff;
$color-info-200: #b4e1ff;
$color-info-300: #8ecdff;
$color-info-400: #72baff;
$color-info-500: #449bff;
$color-info-600: #3178db;
$color-info-700: #2259b7;
$color-info-800: #153e93;
$color-info-900: #0d2b7a;
$color-info-transparent-100: rgba(68, 155, 255, 0.08);
$color-info-transparent-200: rgba(68, 155, 255, 0.16);
$color-info-transparent-300: rgba(68, 155, 255, 0.24);
$color-info-transparent-400: rgba(68, 155, 255, 0.32);
$color-info-transparent-500: rgba(68, 155, 255, 0.4);
$color-info-transparent-600: rgba(68, 155, 255, 0.48);
$color-warning-100: #fffbd7;
$color-warning-200: #fff6af;
$color-warning-300: #fff087;
$color-warning-400: #ffea69;
$color-warning-500: #ffe138;
$color-warning-600: #dbbd28;
$color-warning-700: #b79b1c;
$color-warning-800: #937a11;
$color-warning-900: #7a620a;
$color-warning-transparent-100: rgba(255, 225, 56, 0.08);
$color-warning-transparent-200: rgba(255, 225, 56, 0.16);
$color-warning-transparent-300: rgba(255, 225, 56, 0.24);
$color-warning-transparent-400: rgba(255, 225, 56, 0.32);
$color-warning-transparent-500: rgba(255, 225, 56, 0.4);
$color-warning-transparent-600: rgba(255, 225, 56, 0.48);
$color-danger-100: #ffedd2;
$color-danger-200: #ffd5a4;
$color-danger-300: #ffb878;
$color-danger-400: #ff9c56;
$color-danger-500: #ff6d1e;
$color-danger-600: #db4e15;
$color-danger-700: #b7350f;
$color-danger-800: #932009;
$color-danger-900: #7a1105;
$color-danger-transparent-100: rgba(255, 109, 30, 0.08);
$color-danger-transparent-200: rgba(255, 109, 30, 0.16);
$color-danger-transparent-300: rgba(255, 109, 30, 0.24);
$color-danger-transparent-400: rgba(255, 109, 30, 0.32);
$color-danger-transparent-500: rgba(255, 109, 30, 0.4);
$color-danger-transparent-600: rgba(255, 109, 30, 0.48);
