@import '../../variables.scss';

.Card {
  width: $card-width;
  height: $card-height;
  padding: $spacing-16;
  box-sizing: border-box;
  background-color: $secondary-color;
  box-shadow: $shadow-04;
  border-radius: $border-radius-03;
}

.StampContainer {
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-around;
  font-size: $font-size-02;
  text-align: center;
}
