.Divider {
  width: 75vw;
  border: 1px solid black;
  background-color: rgba(0, 0, 0, 0.3);
  margin: 0.5rem;
}

.small {
  height: 0.1rem;
}

.medium {
  height: 0.2rem;
}

.large {
  height: 0.3rem;
}
