@import '../../../variables.scss';
@import '../../../globals.scss';

.Login {
  background-color: $success;
  color: #fff;
}

.Button:disabled {
  color: #ccc;
  background-color: #ddd;
  cursor: not-allowed;
}
