@import '../../../variables.scss';

.Divider {
  width: 75vw;
  border: 1px solid black;
  background-color: rgba(0, 0, 0, 0.3);
  margin: $spacing-8;
  .small {
    height: 0.1rem;
  }

  .medium {
    height: 0.2rem;
  }

  .large {
    height: 0.3rem;
  }
}
